<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- In-App Purchases (StoreKit) -->
	<key>com.apple.developer.in-app-payments</key>
	<array/>
	<!-- Background Audio -->
	<key>com.apple.developer.playback-session-coordination</key>
	<true/>
</dict>
</plist>
